---
import Layout from '../../layouts/Layout.astro';
import getLink from '../../utils/getLink'

const { code } = Astro.params;

const link = await getLink(code);

if (!link) {
  return Astro.redirect('/');
}
---

<Layout>
  <p style="display: none;" id="code">{code}</p>
  <a href="/dashboard">Ir al panel</a>
  <div id="qrcode"></div>
</Layout>

<script>
  const code = document.querySelector("#code").textContent
  const link = window.location.origin + "/l/" + code

  const QRCode = await import("qrcode")
  const qrcode = await QRCode.toString(link)

  const qrElement = document.querySelector("#qrcode")
  qrElement.innerHTML = qrcode
</script>

<style>
  a {
		border: none;
		background-color: #2b3137;
		color: white;
		padding: .7rem 1rem;
		border-radius: .5rem;
		font-size: 1.1rem;
		font-weight: bold;
		cursor: pointer;
		outline: none;
		text-decoration: none;
		line-height: normal;
	}
  a:hover {
    text-decoration: underline;
    color: #4078c0;
  }
  #qrcode {
    max-width: 60vw;
    margin: 20px auto;
  }
</style>
