---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Links from '../components/Links.astro';
import { getSession } from 'auth-astro/server';
import getUserId from '../utils/getUserId';
import getLinks from '../utils/getLinks';
import addLink from '../utils/addLink';

if (Astro.request.method === 'POST') {
	const form = await Astro.request.formData();
	const url = form.get('url');
	const id = form.get('id');

	await addLink(id, url)

	return Astro.redirect('/dashboard');
}

const session = await getSession(Astro.request);
if (!session) return Astro.redirect('/');

const userId = await getUserId(session.user.email);
if (!userId) return Astro.redirect('/');

const links = await getLinks(userId);
---

<Layout>
	<Header session={session} index={false} />

	<section>
		<form method="post">
			<label for="url">URL</label>
			<input type="text" name="id" value={userId} hidden>
			<input id="url" type="text" name="url" placeholder="https://example.com" />
			<button type="submit">Crear</button>
		</form>
	</section>

	<Links links={links} />
</Layout>

<style>
	form {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}
	
	form label {
		font-size: 1.1rem;
	}

	form input {
		border: none;
		background-color: #2b3137;
		color: white;
		padding: .7rem 1rem;
		border-radius: .5rem;
		font-size: 1.1rem;
	}

	form input:focus {
		outline: 2px solid #4078c0;
	}

	form button {
		border: none;
		background-color: #2b3137;
		color: white;
		padding: .7rem 1rem;
		border-radius: .5rem;
		font-size: 1.1rem;
	}
	form button:hover {
		background-color: #4078c0;
		cursor: pointer;
	}
</style>
