---
import Layout from '../layouts/Layout.astro';
import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);
---

<Layout>
	<main>
		<header>
			<h1>Mini URL </h1>
			{
				session
					? <button id="logout">Cerrar sesión</button>
					: <button id="login">Iniciar sesión</button>
			}
		</header>

		<section>
			<p>Acorta tus enlaces</p>
			{session && (
				<p>Bienvenido {session.user?.name}</p>
				<a href="/dashboard">Ir al panel</a>
			)}
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		font-family: system-ui, sans-serif;
	}

	header button {
		border: none;
		background-color: #7a95e0;
		padding: .7rem 1rem;
		border-radius: .5rem;
		font-size: 1.1rem;
		cursor: pointer;
		outline: none;
	}
	header button:hover {
		background-color: #5c73cc;
	}

	section a {
		text-decoration: none;
		color: white;
		width: fit-content;
	}
	section a:hover {
		text-decoration: underline;
	}
</style>

<script>
	const { signIn, signOut } = await import("auth-astro/client")
	const login = document.querySelector("#login")
	if (login instanceof HTMLButtonElement) login.onclick = () => signIn("github")
	const logout = document.querySelector("#logout")
	if (logout instanceof HTMLButtonElement) logout.onclick = () => signOut()
</script>