---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import checkUser from '../utils/checkUser';
const session = await checkUser(Astro.request);
---

<Layout>
	<Header session={session} index />

	<section>
		<h2>Acorta tus enlaces</h2>
		<p>Puedes convertir URLs largas en enlaces cortos y personalizados que redirigen a la misma dirección. Ya sea que estés compartiendo en redes sociales, enviando correos electrónicos o simplemente buscando simplificar tus enlaces, nuestro acortador de URL te ofrece la solución perfecta.</p>
	</section>
</Layout>
